@font-face {
  font-family: Hefty;
  src: url(img/NewType-Regular.OTF);
}

@font-face {
  font-family: Pixel;
  src: url(img/Pixeboy-z8XGD.ttf);
}

body {
  overflow: hidden;
}

.wrapper {
  background-color: #1a1a1d;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.menu {
  height: 70vh;
  width: 50vw;
  margin: 0 auto;
  align-self: center;
  /* border: 1px solid black; */
}

.one {
  height: 20vh;
  width: 100%;
  /* border: 1px solid black; */
  color: #f86502;
  text-align: center;
  font-size: 5em;
  font-family: Hefty;
  transition: all 3s ease-in-out;
}

.hi1 {
  text-align: center;
  color: #c3073f;
  font-family: Hefty;
  font-size: 5em;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  z-index: 5;
}

.counter {
  height: 20vh;
  width: 30vw;
  color: #4e4e50;
  font-family: Pixel;
  position: absolute;
  font-size: 6em;
  left: 1em;
  align-self: flex-end;
  font-weight: lighter;
  transition: opacity 3s ease-in-out;
}

.toWebsite {
  /* padding: 10px; */
  height: 15vh;
  color: #1a1a1d;
  text-align: center;
  background-color: #c3073f;;
  font-family: Pixel;
  position: absolute;
  font-size: 6em;
  align-self: flex-start;
  right: 0;
  font-weight: lighter;
  cursor: pointer;
  display: flex;
}

.toWebsite:hover {
  color: #f86502;
}

.klocek {
  /* padding: 10px; */
  flex: 1 1 0;
  height: 100%;
  margin-top: 0;
  font-size: 0.7em;
  color: #f86502;
  background-color: #c5c6c7;
}

.klocek:hover {
  color: #1a1a1d;
  background-color: #c3073f;
}
/* KEYFRAMES ANIMATIONS */

@keyframes navbarslide {
  0% { width: 10% }
  30% { width: 30%;
  color: aqua;
  }
  68%, 72% { width: 50% }
  100% { width: 100% }
}